::selection {
    background-color: #C7B299;
    color: #000000;
}

body{
	background-color:#FFFAF0;
}

.acesso{
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: all 1s ease-in-out;
}

.ondas{
    position: absolute;
    margin-right: 120px;
    background-image: url(../imagens/ondas.svg);
    background-size: cover;
    border: none;
    opacity: 0.2;
    width: 410px;
    height: 230px;
}

.bulsola{
    position: absolute;
    margin-right: 300px;
    margin-bottom: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1.5s ease-in-out;
}

.limbo {
    position: absolute;
    display: flex;
    background-image: url(../imagens/limbo_2x.png);
    background-size: cover;
    width: 284px;
    height: 276px;
    animation: rotate_l 20s ease-in-out alternate infinite;
}

.agulha{
    display: flex;
    background-image: url(../imagens/agulha_2x.png);
    background-size: cover;
    width: 220px;
    height: 220px;
    animation: rotate_a 20s ease-in-out alternate infinite;
}

.foto{
    position: absolute;
    background-image: url(../imagens/foto.png);
    background-size: cover;
    width: 190px;
    height: 250px;
    transition: all 1s ease-in-out;
}

.esconder{
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.identificar {
    background-size: cover;
    width: 190px;
    height: 250px;
    position: absolute;
    animation: identificar 4s infinite;
    transition: all 0.5s ease;
}

.retrato{
    transition: all 0.5s ease-in-out;
    background-size: cover;
    width: 190px;
    height: 250px;
    position: absolute;
}

.form{
    position: absolute;
    margin-left: 300px;
    margin-top: 55px;
}

.aviso{
    position: absolute;
    padding-top: 20px;
    background: none;
    color: black;
    text-align: center;
    font-family: 'source_code_proregular';
    font-size: 20px;
    height: 10px;
    width: 350px;
    text-transform: lowercase;
    transition: all 0.5s ease-in-out;
}

.membro{
    background: none;
    color: #C7B299;
    text-align: center;
    font-family: 'source_code_proregular';
    font-size: 60px;
    min-height: 62px;
    width: 350px;
    border: solid black;
    border-bottom-width: 1px;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    text-transform: lowercase;
    transition: 0.5s all;
}

.membro:hover{
    background: none;
    color: #C7B299;
    opacity: 100%;
}

.membro::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #C7B299;
    opacity: 20%;
}

.distico{
    position: absolute;
    margin-right: 400px;
    margin-bottom: 265px;
    background-image: url(../imagens/mundo%20adentro_2x.png);
    background-size: cover;
    border: none;
    width: 254px;
    height: 130px;
}

@keyframes identificar {
    0%,100% {background-image: url(../imagens/identificar_01.png);}
    50% {background-image: url(../imagens/identificar_02.png);}
}

@keyframes rotate_l {
    0% {transform: rotate(0); transform-origin: center center;}
    15% {transform: rotate(-2deg); transform-origin: center center;}
    35% {transform: rotate(5deg); transform-origin: center center;}
    51% {transform: rotate(-3deg); transform-origin: center center;}
    65% {transform: rotate(4deg); transform-origin: center center;}
    81% {transform: rotate(-1deg); transform-origin: center center;}
    95% {transform: rotate(3deg); transform-origin: center center;}
    100% {transform: rotate(0deg); transform-origin: center center;}
}

@keyframes rotate_a {
    0% {transform: rotate(0); transform-origin: center center;}
    15% {transform: rotate(2deg); transform-origin: center center;}
    35% {transform: rotate(-5deg); transform-origin: center center;}
    50% {transform: rotate(3deg); transform-origin: center center;}
    65% {transform: rotate(-4deg); transform-origin: center center;}
    80% {transform: rotate(1deg); transform-origin: center center;}
    95% {transform: rotate(-3deg); transform-origin: center center;}
    100% {transform: rotate(0deg); transform-origin: center center;}
}

@font-face {
    font-family: 'source_code_proregular';
    src: url('../fonts/sourcecodepro-regular-webfont.eot');
    src: url('../fonts/sourcecodepro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcecodepro-regular-webfont.woff2') format('woff2'),
         url('../fonts/sourcecodepro-regular-webfont.woff') format('woff'),
         url('../fonts/sourcecodepro-regular-webfont.svg#source_code_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_code_probold';
    src: url('../fonts/sourcecodepro-bold-webfont.eot');
    src: url('../fonts/sourcecodepro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcecodepro-bold-webfont.woff2') format('woff2'),
         url('../fonts/sourcecodepro-bold-webfont.woff') format('woff'),
         url('../fonts/sourcecodepro-bold-webfont.svg#source_code_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}

strong{
    font-family: 'source_code_probold';
    font-weight: normal;
    font-style: normal;
}

div#preload { display: none; }


.home {
    display: none;
}

.conteudo{
    font-family: 'source_code_proregular';
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 60vw;
    position: absolute;
    bottom: 0;
}

.titulo{
    padding: 20px 0px 0px 0px;
    font-family: 'source_code_proregular';
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 80px;
    width: 70%;
    margin-bottom: 40px;
}

.titulo p {
    font-size: 15px
}

.informacoes{
    display: flex;
    width: 70%;      
}

.dados{
    width: 30%;
    font-size: 12px;
}

.resenha{
    width: 80%;
}

.livro{
    background-image: url(../imagens/capa.jpg);
    background-size:contain;
    background-position: top;
    background-repeat: no-repeat;
    width: 450px;
    height: 100vh;
    position: fixed;
    left: 60vw;
    top: 0;
    transition:  all 1.0s cubic-bezier(0.05, 0.50, 0.60, 0.65);
}

.livro h2:hover{
    cursor: pointer;
    color: #C1272D;
    transition: all 0.5s ease;
}

.arquivobtn{
    position: absolute;
    bottom: 20px;
    transition: all 0.5s ease;
}

.reuniaobtn{
    position: absolute;
    right: 0;
    bottom: 20px;
    transition: all 0.5s ease;
}

h1{
    font-family: 'source_code_probold';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
}

h2{
    font-family: 'source_code_probold';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
}

h3{
    font-family: 'source_code_probold';
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
}